html, body {
    background-color: rgb(47, 47, 61);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: inline;width: max-content
}

/* RAW TABLE*/

#data-table {
    background-color: #444444;
    border-radius: 0.75vw;
    width: fit-content;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10vh;
    margin-left: 34vh;
    margin-top: -98.5vh;
    position: relative;
}

.table-header-section-raw {
    position: sticky;
    top: 0vh;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    white-space: nowrap;
    padding: 1vh;
    transition: scale 0.15s, background-color 0.15s;
    background-color: rgb(235, 228, 220);
    border-radius: 0.75vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    user-select: none;
}

.table-header-section-raw:hover {
    cursor: pointer;
    scale: 1.05;
    background-color: rgb(218, 148, 68);
    font-weight: bolder;
}

.column {
    width: fit-content;
    padding: 1vh;
    top: 0;
}

.data-value {
    white-space: nowrap;
    width: 100%;
    text-align: center;
    font-size: 2.5vh;
    margin-top: 1vh;
    border-radius: 0.5vw;
    font-weight: bolder;
    color: white;
    transition: background-color 0.25s;
    background-color: #4d4e4e00
}

.data-value:hover {
    cursor: pointer;
    background-color: #333333
}

h3 {
    font-size: 2vh;
    margin: 0;
    font-weight: lighter;
}

#open-sidebar {
    background-color: #1a1919;
    width: 5vh;
    height: 100vh;
    left: 0vh;
    top: 0vh;
    margin-top: 0vh;
    font-family: 'Poppins', sans-serif;
    font-size: 4vh;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bolder;
    transition: background-color 0.5s, color 0.5s;
    z-index: 10;
}

#open-sidebar:hover {
    cursor: pointer;
    background-color: #dfdad6;
    color: black;
}

p {
    margin: 0;
    width: 100%;
    text-align: center;
}

#sidebar {
    position: sticky;
    background-color: black;
    width: 30vh;
    height: 100vh;
    z-index: 100;
    top: 0;
    display: flex;
    justify-content: space-between;
    left: -25vh;
}

#side-button-container {
    width: 25vh;
}

.side-button {
    position: relative;
    color: white;
    border-radius: 0.75vh;
    font-size: 4vh;
    background-color: #444444;
    width: 18vh;
    padding: 1.25vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    font-weight: bolder;
    transition: background-color 0.15s, scale 0.15s;
    text-align: center;
}

.side-button:hover {
    cursor: pointer;
    background-color: #797979;
    scale: 1.1;
}


/* Sroll Bar*/

::-webkit-scrollbar {
    background-color: hsl(0, 0%, 0%);
    width: 1.5vh;
    height: 1.5vh;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: hsla(220, 3%, 23%, 0.938);
    box-shadow: 0 0 3px hsl(0, 0%, 0%);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: hsl(231, 6%, 59%);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: hsl(19, 98%, 61%);
  }